//custom
@import "variables";
@import "tooltip";
@import "margins";
@import "modal";
@import "sticky-footer";
@import "errors";
@import "lists";
@import "progress-bar";
@import "group-bracket";
@import "qualifiers-bracket";
@import "dialogs";

html, body {
  min-height: 100%;
  min-width: 100%;
}

.clickable {
  cursor: pointer;
}
