
$height: 90px;

.qualifiers-bracket .panel, .elimination-bracket .panel, .finals-bracket .panel  {
  margin-bottom:0px;
  font-size: 1.3em;
  div {
    min-height: 25px;
  }
}

.match {
  height: $height;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.18);
}

.match-padding-half {
  height: $height/2;
}

.match-padding-three-quarters {
  height: $height/4*3;
}

.match-padding-double {
  height: $height*2;
}

.match-padding-one-quarter {
  height: $height/4;
}

.match .winner {
  background-color: $light-yellow;
}
