@import "variables";

.window {
  height:1200px;
  width: 1200px;
  overflow: scroll;
}

.bracket-container {
  position: relative;
  min-height: 800px;
  width:10000px;
  height:100%;
}

.bracket-column{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  .upperHalf, .bottomHalf {
    display: table;
    height:50%;
    .wrapper{
      display:table-cell;
      vertical-align: middle;
    }
  }
  .finalRound {
    display: table;
    height:100%;
    .wrapper{
      display:table-cell;
      vertical-align: middle;
    }
  }
}

.match {
    position: relative;
    height: 90px;
    width: 300px;
    margin: 25px 25px 25px 0;
    background-color: $light-grey;
    padding: 10px;
    padding-top: 13px;
    padding-right: 15px;
    border: 2px solid black;
    border-radius: 10px;
    .first {
      border-bottom: 1px solid black;
    }
    .score {
      margin-top: 7px;
      float:right;
    }
    .winner {
      color:$black;
      background-color: $yellow;
    }
    .number {
      position: absolute;
      font-weight: bold;
      top: 1px;
      left: 3px;
    }
  }

  .match.complete {
    background-color:$light-dark-grey;
  }

  .separator {
      visibility: hidden;
      height: 90px;
      width: 300px;
      margin: 25px 25px 25px 0;
      background-color: $light-grey;
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
    }

.match > div {
  height:50%;
  min-height: 20px;
  p {
    margin-bottom: 0px;
    vertical-align: middle;
    line-height: 30px;
  }
}
