
.margin-top {
  margin-top:10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-left-double {
  margin-left: 20px;
}

.margin-right {
  margin-right: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bottom-double {
  margin-bottom: 20px;
}
