@import "variables";
@import "tooltip";
@import "margins";
@import "modal";
@import "sticky-footer";
@import "errors";
@import "lists";
@import "progress-bar";
@import "group-bracket";
@import "bracket";
@import "dialogs";
@import "badge";
@import "images";
@import "forms";
@import "tables";

html, body, #app {
  height: 100%;
  width: 100%;
}

#wrapper {
  position: relative;
  height: inherit;
  width: inherit;
  overflow: auto;
  background-image: url('../images/pooltable-gradient.jpg');
  .content {
    padding-bottom: 80px;
  }
}

.container {
  padding: 10px 10px 20px 10px;
  background-color: rgba(255,255,255, 0.6);
  border-radius:20px;
}


.clickable {
  cursor: pointer;
}

.right {
  float:right;
}

.center-text {
  text-align: center;
}
