@import "variables";
@import "tooltip";
@import "margins";
@import "modal";
@import "sticky-footer";
@import "errors";
@import "lists";
@import "progress-bar";
@import "group-bracket";
@import "bracket";
@import "dialogs";
@import "badge";
@import "images";
@import "forms";
@import "tables";

html, body {
  min-height: 100%;
  min-width: 100%;
}

.clickable {
  cursor: pointer;
}

.right {
  float:right;
}

.center-text {
  text-align: center;
}
