
$height: 90px;

.qualifiers-bracket .panel, .elimination-bracket .panel, .finals-bracket .panel  {
  margin-bottom:0px;
  font-size: 1.3em;
  div {
    min-height: 25px;
  }
}

@media only screen and (max-width: 800px) {
    .bracket {
      width:1200px;
      overflow-x:scroll;
    }
    .bracket {
      .round {
        display: inline-block;
      }
    }
}



.match {
  height: $height;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.18);
  .matchtag {
    background-color: white;
  }
  .nametag {
    position:relative;
    display: block;
    white-space: nowrap;
    background-color: inherit;
    .name {
      max-width: 85%;
      overflow: hidden;
      background-color: inherit;
    }
    .name:hover {
      z-index: 30;
      position:absolute;
      max-width: 1000px;
      overflow: visible;
    }
    .score {
      position: absolute;
      top:0;
      right: 0;
      background-color: inherit;
    }
  }

}

.match-padding-half {
  height: $height/2;
}

.match-padding-three-quarters {
  height: $height/4*3;
}

.match-padding-double {
  height: $height*2;
}

.match-padding-one-quarter {
  height: $height/4;
}

.match .winner {
  background-color: $light-yellow;
}
