
.dialog {
  z-index:100;
  position: fixed;
  top:15%;
}

.fade {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.fade.show {
  opacity:1;
  visibility: visible;
}
