@import "variables";

ul.scrollable {
  overflow-y: scroll;
  max-height: 500px;
}

ul.pointer > li {
  cursor:pointer;
}

ul.pointer > li:hover {
  color:$yellow;
}

td.sum-cell {
  border-left:1px solid $light-grey;
}

td.name-cell {
  width: 250px;
}
