

.season-results {
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  thead {
    tr {
      border-bottom: 1px solid $dark-grey;
      th {
        border-bottom:inherit;
      }
    }
  }

  .left-border {
    border-left: 1px solid $dark-grey;
  }

}
